<%- include('../partials/body-start'); %>

<main>
    <div class="jumbotron">
        <h2>Avatars List : </h2>
        <% avatars?.forEach(avatar => { %>
            <li> <a href="/avatar/update/<%= avatar.id %>"><%= avatar.name %></a> : <%= avatar.description %> </li>
        <% }) %>
    </div>
</main>

<%- include('../partials/body-end'); %>